<div class="col-sm-12">
    <div class="col-sm-4"></div>
    {{data.message}}
    <div class="col-sm-4" style="text-align: center;" ng-repeat="data in data.data">
    	<form class="form-signin">       
			<h2 class="form-signin-heading">Edit document</h2>

			Id: {{data.id}}<br>

            Thumbnail:<br> <img src="images/{{data.thumbnail}}" alt="image" width="100%" height="150"><br>
            <!--<input type="file" class="form-control" ng-bind="data.document"><br>-->

            Document: {{data.url}} <br>
            <!--<input type="file" class="form-control" ng-bind="data.document"><br>-->
			
			Title: <input type="text" class="form-control" ng-model="data.title" required="" autofocus="" /><br>
			
			Caption: <input type="text" class="form-control" ng-model="data.caption" required=""/><br>      
			
			Keywords: <input type="text" class="form-control" ng-model="data.keywords" required=""/><br>

			<button class="button" ng-click="updateDocument(data)" type="submit">Update Info</button><br>

			{{result.data.id}} , {{result.message}}

			<br><br>
		</form>
    </div>
    
    <div class="col-sm-4"></div>
</div>


<div class="right-corder-container">
    <button class="right-corder-container-button" ng-click="go_to_home()">
        <!--<span class="short-text"><i class="fa fa-home fa-2x"></i></span>-->
        <i class="fa fa-home"></i>
    </button>
</div>